@model PolarionReports.Models.Lists.RequAnalyzeViewModel
@using PolarionReports.Custom_Helpers

<!--
Liste für Requirements im "Impact Analysis" - Report
Verwendet für: 
-->
<div>
    @if (Model.Table.Count > 0)
    {
        string collapseStatus;
        if (Model.Table.Count < Model.ExpandLevel)
        {
            collapseStatus = "panel-collapse in";
        }
        else
        {
            collapseStatus = "panel-collapse collapse";
        }
        <h5><a style="color:@Model.Color" data-toggle="collapse" href="@("#"+Model.Id)"><span data-toogle="tooltip" title="@Model.Tooltip">@Model.Titel</span></a>@Model.PolarionTableLink</h5>
        <div id="@(Model.Id)" class="@collapseStatus">
            <table class="table">
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Internal Comments</th>
                    <th>Allocation</th>
                    <th>C/S</th>
                    <th>Status</th>
                    <th>Link</th>
                    <th>Analyze</th>
                </tr>

                @foreach (var item in Model.Table)
                {
                    <tr>
                        <td width="110px"><a target="_blank" href="@Model.PolarionLink@item.Id" ,>@item.Id</a></td>
                        <td>@Html.DisplayFor(modelItem => item.Title)</td>
                        <td><a href="#" data-toggle="tooltip" title="@item.InternalComments">@Html.DisplayFor(modelItem => item.InternalComments20)</a></td>
                        <td>@Html.DisplayFor(modelItem => item.Alloc)</td>
                        <td>@Html.DisplayFor(modelItem => item.TextCS)</td>
                        <td>@Html.DisplayFor(modelItem => item.Status)</td>
                        <td><a target="_blank" href="@Model.PolarionDocumentLink@item.Id" ,>Open</a></td>
                        <td>@Custom_Helper_Class.AnalyzeWorkitem("/Impact/Analyze/" + Model.ProjectID, item, "", Model.StartingPoint)</td>
                    </tr>
                }
            </table>
        </div>
    }
</div>

