@model PolarionReports.Models.Lists.TcViewModel
@using PolarionReports.Custom_Helpers

<div>
    @if (Model.Table.Count > 0)
    {
        string collapseStatus;
        if (Model.Table.Count < Model.ExpandLevel)
        {
            collapseStatus = "panel-collapse in";
        }
        else
        {
            collapseStatus = "panel-collapse collapse";
        }
        <h5><a style="color:@Model.Color" data-toggle="collapse" href="@("#"+Model.Id)"><span data-toogle="tooltip" title="@Model.Tooltip">@Model.Titel</span></a>@Model.PolarionTableLink</h5>
        <div id="@(Model.Id)" class="@collapseStatus">
            <table class="table">
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Test Type</th>        <!-- testType -->
                    <th>Last Test Result</th> <!-- testResult -->
                    <th>Status</th>
                    <th>Link</th>
                </tr>

                @foreach (var item in Model.Table)
                {
                    var color = "";
                    if (item.TestResult == "passed") { color = "green"; } else { color = "red"; }
                    <tr>
                        <td width="110px"><a target="_blank" href="@Model.PolarionLink@item.Id" ,>@item.Id</a></td>
                        <td>@Html.DisplayFor(modelItem => item.Title)</td>
                        <td>@Html.DisplayFor(modelItem => item.CFType)</td>
                        <td style="color:@color"><span data-toogle="tooltip" title="@Custom_Helper_Class.TestcaseResultTable(item.TestcaseResults)" >@Html.DisplayFor(modelItem => item.TestResult)</span></td>
                        <td>@Html.DisplayFor(modelItem => item.Status)</td>
                        <td><a target="_blank" href="@Model.PolarionDocumentLink@item.Id" ,>Open</a></td>
                    </tr>
                }
            </table>
        </div>
    }
</div>



